/* styles.css */

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding-top: 70px; /* To account for fixed header */
    background-color: #f4f4f4;
    color: #333;
}

/* Override Bootstrap Navbar */
.navbar {
    background-color: #333;
}

.nav-link {
    color: white !important;
}

.nav-link:hover {
    color: #ddd !important;
}

section {
    padding: 20px;
    margin-bottom: 20px;
    background-color: white;
    border-radius: 8px;
}

#holdings-list li {
    margin-bottom: 15px;
    list-style: none;
}

#holdings-list img {
    width: 25px;
    vertical-align: middle;
    margin-right: 10px;
}

/* Make images responsive */
img {
    max-width: 100%;
    height: auto;
}

footer {
    background-color: #333;
    color: white;
    padding: 10px;
}
